.container-fluid {
    background-color: #A10035;
}

body {
    background-color: #f7f3ee !important;
}

nav a {
    color: #FFFDEB !important;
}

nav a:hover {
    color: antiquewhite !important;
}

.navbar-brand {
    font-family: 'EB Garamond', serif;
    font-style: italic;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 23px !important;
}

.navbar-form .form-control:focus {
    outline: none;
    box-shadow: 0 0 8px #f7f3ee;
}

.navbar-form .btn {
    border-radius: 50%;
    background-color: #f7f3ee;
    color: #A10035;
    border: none;
    width: 35px;
    height: 34px;
}

.navbar {
    margin-bottom: 0 !important;
}

#myCarousel {
    width: 100%;
    margin: 0;
    padding: 0;
}

#myCarousel .item img {
    height: 500px !important;
    width: 100%;
    height: 500px;
    object-fit: fill;
}

.categories {
    text-align: center !important;
    margin: 60px 0 !important;
}

.categories-container {
    display: flex !important;
    justify-content: center !important;
    gap: 30px !important;
    flex-wrap: wrap !important;
}

.category-btn {
    background-color: #A10035 !important;
    color: #f7f3ee!important;
    border: 2px solid #A10035 !important;
    border-radius: 30px !important;
    padding: 14px 24px !important;
    font-size: 18px !important;
    font-family: 'Playfair Display', serif !important;
    transition: all 0.35s ease;
}


/*hover*/

.category-btn:hover {
    background-color: #f7f3ee!important;
    color: #A10035 !important;
    transform: translateY(-4px);
    box-shadow: #DCDCDC;
}

@media (max-width: 600px) {
    .categories-container {
        flex-direction: column;
        align-items: center;
    }
    .category-btn {
        width: 80%;
    }
}

.category-btn.active {
    background-color: #f7f3ee !important;
    color: #A10035 !important;
}

.product {
    width: 250px;
    border: 1px solid #DCDCDC;
    padding: 15px;
    margin: 15px;
    display: inline-block;
    text-align: center;
    border-radius: 10px;
}

.product img {
    width: 100%;
    height: 180px;
    object-fit: fill;
}

.product-section {
    display: none;
}

.product-section.active {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.buttons button {
    border: none;
    padding: 8px 14px;
    margin: 5px;
    cursor: pointer;
    background-color: #A10035;
    color: #FFF;
    border-radius: 12px;
}

.buttons :active {
    background-color: #f7f3ee!important;
    color: #A10035 !important;
}

.buttons :hover {
    background-color: #f7f3ee!important;
    color: #A10035 !important;
    transition-duration: 0.3s;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.buttons .row {
    display: flex;
    gap: 8px;
}

#services .buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 18px 0;
    gap: 30px;
    flex-wrap: wrap;
    font-size: 19px !important;
}

.info-btn {
    border: none;
    background: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 15px;
    cursor: pointer;
}

.description {
    display: none;
    font-size: 15px;
}

.rate-contact {
    text-align: center;
    padding: 40px 20px;
}

.section-title {
    margin: 20px 0;
    font-size: 24px;
}


/*rating dropdown*/

.rating {
    width: 200px;
    padding: 8px;
    margin: 10px auto;
    display: block;
    border: 1px solid #FFF;
    border-radius: 6px;
}

.feedback {
    width: 450px;
    line-height: 60px;
    padding: 8px;
    margin: 15px auto;
    display: block;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #fff;
    resize: none;
}


/*submit button*/

.btn {
    margin-top: 0px;
    padding: 10px 20px;
    background: #A10035;
    color: #f7f3ee;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 120px;
}

.btn :active {
    background-color: #f7f3ee!important;
    color: #A10035 !important;
}

.btn :hover {
    background-color: #f7f3ee!important;
    color: #A10035 !important;
    transition-duration: 0.3s;
}

.whatsapp-btn,
.gmail-btn {
    display: inline-block;
    margin-top: 12px;
    padding: 10px 20px;
    background: #A10035;
    color: #f7f3ee;
    text-decoration: none;
    border-radius: 6px;
}

.service-form button {
    background-color: white;
    color: black;
    border-radius: 8px;
}

#bouquets .bouquets-grid {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 30px;
    align-items: start;
}

#bouquet.left {
    display: block;
}

.bouquet-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

#bouquets .right {
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 10px;
    /*display: flex;
    flex-direction: column;
    gap: 15px;*/
}

.bouquet-table th,
.bouquet-table td {
    text-align: center;
    padding: 10px;
}

.flower-o {
    display: flex;
    align-items: center;
    gap: 10px;
}

.flower-o img {
    width: 40px;
    height: 40px;
}

@media (max-width:600px) {
    #bouquets .bouquets-grid {
        grid-template-columns: 1fr;
    }
}

#bouquets.product-section.active {
    display: block !important;
}

.bouquet-cart {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.remove {
    background-color: lightcoral;
    color: #f7f3ee;
    border: none;
    cursor: pointer;
}

#bouquets .right .buy {
    background-color: #f7f3ee !important;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    font-weight: 200;
}

.title {
    font-style: italic;
    font-weight: 200;
}

.bouquet-table th {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
}

.footer {
    background-color: #fff;
    margin-top: 50px;
}

.footer-bottom {
    text-align: center;
}